.mpj-banner {
    color: black;
    text-align: right;
    padding: 24px 32px;
    border-bottom: solid 3px #217e50;
    display: flex;
    justify-content: end;
    align-items: center;
}

h1{
    margin: 0;
    font-size: 18px;
}

.mpj-logo{
    width: 30px;
}